<div *ngIf="userDetails" class="userDetails">
  <p>ID: {{userDetails.id}}</p>
  <p>Name: {{userDetails.name}}</p>
  <p>Username: {{userDetails.username}}</p>
  <p>Email: {{userDetails.email}}</p>
  <p>Address: </p>
  <p>City: {{userDetails.address.city}}</p>
  <p>Street: {{userDetails.address.street}}</p>
  <p>Suite: {{userDetails.address.suite}}</p>
  <p>Zipcode: {{userDetails.address.zipcode}}</p>
  <p>Geo: </p>
  <p>Lat: {{userDetails.address.geo.lat}}</p>
  <p>Lng: {{userDetails.address.geo.lng}}</p>
  <p>Website: {{userDetails.website}}</p>
  <p>Phone: {{userDetails.phone}}</p>
  <p>Company:</p>
  <p>Name: {{userDetails.company.name}}</p>
  <p>CatchPhrase: {{userDetails.company.catchPhrase}}</p>
  <p>BS: {{userDetails.company.bs}}</p>
</div>
